@model WeddingWebsite.ViewModels.GuestConfirmationViewModel

@using (Html.BeginForm("Invitation", "RSVP", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <label>WE'VE FOUND MORE THAN ONE MATCH IN THE GUEST LIST. PLEASE SELECT YOUR NAME FROM THE LIST BELOW.</label>
            <br />
            @foreach (var guestTag in Model.GuestTags)
            {
                @Html.RadioButtonFor(m => m.GuestTag, guestTag) @guestTag
                <br />
            }
        </div>
    </div>
    @for (int i = 0; i < Model.RSVPs.Count; i++)
    {
        @Html.HiddenFor(model => Model.RSVPs[i].GuestOneId)
        @Html.HiddenFor(model => Model.RSVPs[i].GuestOneName)
        @Html.HiddenFor(model => Model.RSVPs[i].GuestTwoId)
        @Html.HiddenFor(model => Model.RSVPs[i].GuestTwoName)
        @Html.HiddenFor(model => Model.RSVPs[i].GuestTag)
    }
    <button class="btn btn-primary" type="submit">Continue</button>
    @Html.ActionLink("Search Again", "Index", "RSVP", null, new { @class = "btn btn-primary" })
}