@model WeddingWebsite.ViewModels.InvitationViewModel
<form id="drinkForm" style="display:none">
    <div class="form-group">
        <label for="select-drinks">
            Select Two Drinks For the Reception:
            <i class="fas fa-info-circle" id="drink-information" data-toggle="popver" title="Drink Descriptions"></i>
        </label>
        <br />
        <select multiple="multiple" class="selectpicker" data-width="50%" data-max-options="2" title="Choose two of the following..." id="selectDrinks">
            @for (var index = 0; index < Model.DrinkItems.Count(); index++)
            {
                var drinkName = @Model.DrinkItems[index].DrinkName;
                var drinkDescription = @Model.DrinkItems[index].DrinkDescription;

                <option drink-id="@Model.DrinkItems[index].Id" drink-name=" @Model.DrinkItems[index].DrinkName">
                    @drinkName
                </option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="button" id="prevSongRequestForm">Previous</button>
    <button class="btn btn-primary" type="submit" id="nextMarriageAdvice">Next</button>
</form>

<li id="drink-list" style="display:none">
    @for (var index = 0; index < Model.DrinkItems.Count(); index++)
    {
        var drinkName = @Model.DrinkItems[index].DrinkName;
        var drinkDescription = @Model.DrinkItems[index].DrinkDescription;

        <ul title="@drinkName" data-content="@drinkDescription">
            @drinkName - @drinkDescription
        </ul>

    }
</li>